<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
  <body style="background-color: antiquewhite;">
  <p style="font-family: 楷体">日志分类</p>
  <p style="font-family: 楷体">欢迎您，<a href="/login/loginPage" target="_top">退出</a></p>
  <a href="/admin/putBlog" target="rightFrame" style="font-family: 楷体">发布博文</a><br>
  <a href="/admin/blogSet" target="rightFrame" style="font-family: 楷体">博文管理</a><br><br>
  <a href="/admin/insertBlogClass" target="rightFrame" style="font-family: 楷体">添加博文分类</a><br>
  <a href="/admin/blogClassSet" target="rightFrame" style="font-family: 楷体">博文分类管理</a><br><br>
  <a href="/admin/userSet" target="rightFrame" style="font-family: 楷体">用户管理</a><br>
  </body>
</html>