<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../js/jquery-3.6.0.js"></script>
    <script type="text/javascript">
        function login(){
            window.location.href="registerPage"
        }
    </script>
</head>
<body>
<h1 align="center">登录页面</h1>
<h1 align="center">账号与权限不匹配</h1>
<form action="/login/userLogin" method="get">
    <table align="center" border="1" cellspacing="0">
        <tr>
            <td>
                账号:
            </td>
            <td>
                <input type="text" name="username" id="username" />
            </td>
        </tr>
        <tr>
            <td>
                密码:
            </td>
            <td>
                <input type="password" name="password" id="password" />
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="登录" />&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="button"  value="注册" onclick="login()"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>