<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <link rel="stylesheet" href="../css/iconfont.css"><!-- 图标 -->
    <link rel="stylesheet" href="../css/common.css"/><!-- 页面布局 -->
    <link rel="stylesheet" href="../css/style.css"><!-- 页面布局 -->
    <script type="text/javascript" src="../js/selector.js"></script>
    <script type="text/javascript" src="../js/index.js"></script>

    <script type="text/javascript" src="../js/jquery-3.6.0.js"></script>

    <link href="../layui/css/layui_amend.css" rel="stylesheet">
    <script src="../layui/layui.js"></script>
</head>
<body ondragstart="return false" oncontextmenu="return false" onselectstart="return false" onselect="document.selection.empty()">
<header>
    <div class="header-box">
        <div class="box">
        </div>
        <div class="album r">
            <img src="../images/1.jfif" alt="相册"/>
        </div>
        <div class="album r">
            <img src="../images/2.jfif" alt="相册"/>
        </div>
    </div>
</header>
<nav class="nav">
    <div class="title l">个人博客</div>
    <ul class="layui-nav">
        <li class="current"><a href="#">首页</a></li>
        <li><a href="#">工藤新一</a></li>
        <li><a href="#">毛利兰</a></li>
        <li><a href="#">服部平次</a></li>
        <li><a href="#">远山和叶</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">用户数据</a>
            <dl class="layui-nav-child">
                <dd><a th:href="@{/user/perInfoPage(username=${username},password=${password})}">个人信息</a></dd>
                <dd><a th:href="@{/user/putBlogPage(username=${username})}">发布博客</a></dd>
                <dd><a href="/login/index">退出登录</a></dd>
            </dl>
        </li>
    </ul>
</nav>
<div class="embellish">
    <a class="rocket"></a>
    <div class="aside"></div>
</div>
<section>
    <div class="banner-box clearfix">
        <div class="banner r">
            <div>
                <a class="a-img-ban img-ban-curr"><img class="img-ban" src="../images/re0.png"></a>
                <a class="a-img-ban"><img class="img-ban" src="../images/超炮.png"></a>
                <a class="a-img-ban"><img class="img-ban" src="../images/路人女主.png"></a>
                <a class="a-img-ban"><img class="img-ban" src="../images/四谎.jpg"></a>
            </div>
            <ul class="r">
                <li class="li-img curr"><img src="../images/re0.png"><div class="mask"></div></li>
                <li class="li-img"><img src="../images/超炮.png"><div class="mask"></div></li>
                <li class="li-img"><img src="../images/路人女主.png"><div class="mask"></div></li>
                <li class="li-img"><img src="../images/四谎.jpg"><div class="mask"></div></li>
            </ul>
        </div>
        <div class="art l">
            <h2 class="art-txt"><em class="iconfont icon-zan "></em> <span>推荐电影</span> </h2>
            <ul class="art-list">
                <li><a href="#" ><em class="iconfont icon-dian "></em><span>计时引爆摩天楼</span></a></li>
                <li><a href="#" ><em class="iconfont icon-dian "></em><span>战栗的乐谱</span></a></li>
                <li><a href="#" ><em class="iconfont icon-dian "></em><span>天空的遇难船</span></a></li>
                <li><a href="#" ><em class="iconfont icon-dian "></em><span>沉默的15分钟</span></a></li>
                <li><a href="#" ><em class="iconfont icon-dian "></em><span>第11个前锋</span></a></li>
                <li><a href="#" ><em class="iconfont icon-dian "></em><span>绝海的侦探</span></a></li>
                <li><a href="#" ><em class="iconfont icon-dian "></em><span>唐红的恋歌</span></a></li>
            </ul>
        </div>
    </div>
    <article>
        <aside class="left-box l">
            <div class="art Label clearfix">
                <h2 class="art-txt"> <em class="iconfont icon-biaoqian "></em> <span>热门标签</span> </h2>
                <div>
                    <a class="btn label" href="#">通往天国的倒计时</a>
                    <a class="btn label" href="#">贝克街的亡灵</a>
                    <a class="btn label" href="#">迷宫的十字路</a>
                    <a class="btn label" href="#">银翼的魔术师</a>
                    <a class="btn label" href="#">侦探们的镇魂歌</a>
                    <a class="btn label" href="#">漆黑的追踪者</a>
                    <a class="btn label" href="#">业火的向日葵</a>
                    <a class="btn label" href="#" >零的执行人</a>
                </div>
            </div>
            <div class="art Label clearfix">
                <h2 class="art-txt"> <em class="iconfont icon-xing "></em> <span>推荐电影</span> </h2>
                <div>
                    <a class="btn label" href="#">钢铁侠</a>
                    <a class="btn label" href="#">蜘蛛侠</a>
                    <a class="btn label" href="#">美国队长</a>
                    <a class="btn label" href="#">雷神</a>
                    <a class="btn label" href="#">复仇者联盟</a>
                    <a class="btn label" href="#">金刚狼</a>
                    <a class="btn label" href="#">X战警</a>
                </div>
            </div>
            <div class="art Follow clearfix">
                <h2 class="art-txt"> <em class="iconfont icon-xing "></em> <span>推荐电视</span> </h2>
            </div>
            <div class="art Link mt20 clearfix">
                <h2 class="art-txt"> <em class="iconfont icon-lianjie"></em> <span>推荐番剧</span> </h2>
                <ul class="fri-link">
                    <li><a href="https://www.bilibili.com/bangumi/play/ss29590?from_spmid=666.25.series.0" target="_blank" rel="nofollow">从零开始的异世界生活</a></li>
                    <li><a href="https://www.bilibili.com/bangumi/play/ss4452?from_spmid=666.25.series.0" target="_blank" rel="nofollow">刀剑神域</a></li>
                    <li><a href="https://www.bilibili.com/bangumi/play/ss425/?spm_id_from=333.999.0.0" target="_blank" rel="nofollow">某科学的超电磁炮</a></li>
                    <li><a href="https://www.bilibili.com/bangumi/play/ss26274?from_spmid=666.25.series.0" target="_blank" rel="nofollow">辉夜大小姐想让我告白</a></li>
                    <li><a href="https://www.bilibili.com/bangumi/play/ss26283?from_spmid=666.25.series.0" target="_blank" rel="nofollow">五等分的花嫁</a></li>
                    <li><a href="https://www.bilibili.com/bangumi/play/ss1512/?spm_id_from=333.999.0.0" target="_blank" rel="nofollow">路人女主的养成方法</a></li>
                </ul>
            </div>
        </aside>
        <div class="art-right r">
            <h2 class="art-txt">&nbsp;&nbsp;<em class="iconfont icon-wifi "></em> <span>最新文章</span></h2>
            <div class="art-model" th:each="blog:${blogList}">
                <h3>
                    <a th:href="@{/user/comment(blogId=${blog.id},username=${username},blogTitle=${blog.title},blogTime=${blog.createdtime},blogContext=${blog.context})}">
                        [[${blog.title}]]
                    </a>
                </h3>
                <p class="dateview"><span>发布时间：[[${#dates.format(blog.createdtime,'yyyy-MM-dd HH:mm:SS')}]]</span> <span>作者：[[${blog.author}]]</span></p>
                <dl class="img-txt">
                    <dt>
                        <img src="../images/7.jpg" alt="网站三层架构(结构层-表现层-行为层)" title="网站三层架构(结构层-表现层-行为层)">
                        <!--
                        方法一：
                            通过{blog.context}的内容进行截取
                            路径名：![](http://localhost:8080/upload/bee0a7db-1f87-480c-bd31-ddf5d3d604b7.png)
                            第一个![](http://localhost:8080/之后到)结尾的路径获取，之后再进行获取
                            问题是代码在html怎么实现并同步（js好像可以）
                        方法二：√
                            发布博客提交数据时，将提交的内容在java中进行截取，获取地址后，在提交到数据库单独的字段中，给blog类添加属性
                            在html通过Thymeleaf轮询，可行
                        -->
                    </dt>
                    <dd>
                        <p class="deatil">　　[[${blog.context}]]</p>
                        <a th:href="@{/user/comment(blogId=${blog.id},username=${username},blogTitle=${blog.title},blogTime=${blog.createdtime},blogContext=${blog.context})}" class="btn  c-fff" >
                            查看全文
                        </a>
                    </dd>
                </dl>
            </div>

            <!--分页栏-->
            <div>
                <div id="limit" style="padding-left: 30px;"></div>
                <script>
                    layui.use(['laypage', 'layer'], function(){
                        var laypage = layui.laypage
                            ,layer = layui.layer;
                        laypage.render({
                            elem: 'limit'
                            ,count: [[${totalSize}]]
                            ,limit: [[${pageSize}]]
                            ,curr: [[${nowPage}]]
                            ,theme: '#1E9FFF'
                            ,layout: ['count', 'prev', 'page', 'next', 'skip']
                            ,jump: function(obj,first){
                                currN = obj.curr;
                                countN = obj.count;
                                limitN = obj.limit;
                                if(!first){
                                    // sendPage(currN,countN,limitN);
                                    location.href = "/user/blogPage?nowPage=" + currN;
                                }
                            }
                        });
                    });
                </script>
            </div>
        </div>
    </article>
</section>
<footer class="clearfix"><p></p></footer>
<script type="text/javascript" src="../js/common.js"></script>
</body>
</html>
