<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdy.blog.mapper.CommentMapper" >
  <resultMap id="BaseResultMap" type="com.zdy.blog.model.Comment" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="CreatedTime" property="createdtime" jdbcType="TIMESTAMP" />
    <result column="UserName" property="username" jdbcType="VARCHAR" />
    <result column="BlogId" property="blogid" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zdy.blog.model.Comment" extends="BaseResultMap" >
    <result column="Context" property="context" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, CreatedTime, UserName, BlogId
  </sql>
  <sql id="Blob_Column_List" >
    Context
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from comment
    where Id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByBlogId" resultType="com.zdy.blog.model.Comment">
    select
        Context,CreatedTime,UserName,Id,BlogId
    from comment
    where BlogId = #{blogId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from comment
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zdy.blog.model.Comment" >
    insert into comment (Id, CreatedTime, UserName, 
      BlogId, Context)
    values (#{id,jdbcType=INTEGER}, #{createdtime,jdbcType=TIMESTAMP}, #{username,jdbcType=VARCHAR}, 
      #{blogid,jdbcType=INTEGER}, #{context,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zdy.blog.model.Comment" >
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="createdtime != null" >
        CreatedTime,
      </if>
      <if test="username != null" >
        UserName,
      </if>
      <if test="blogid != null" >
        BlogId,
      </if>
      <if test="context != null" >
        Context,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createdtime != null" >
        #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="blogid != null" >
        #{blogid,jdbcType=INTEGER},
      </if>
      <if test="context != null" >
        #{context,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zdy.blog.model.Comment" >
    update comment
    <set >
      <if test="createdtime != null" >
        CreatedTime = #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="username != null" >
        UserName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="blogid != null" >
        BlogId = #{blogid,jdbcType=INTEGER},
      </if>
      <if test="context != null" >
        Context = #{context,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zdy.blog.model.Comment" >
    update comment
    set CreatedTime = #{createdtime,jdbcType=TIMESTAMP},
      UserName = #{username,jdbcType=VARCHAR},
      BlogId = #{blogid,jdbcType=INTEGER},
      Context = #{context,jdbcType=LONGVARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zdy.blog.model.Comment" >
    update comment
    set CreatedTime = #{createdtime,jdbcType=TIMESTAMP},
      UserName = #{username,jdbcType=VARCHAR},
      BlogId = #{blogid,jdbcType=INTEGER}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>